@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body, html {
  height: 100%;
  width: 100%;
  max-width: 100%;
  min-width: 344px;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

/* For WebKit (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* Transparent background */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); /* Color of the scrollbar */
  border-radius: 10px; /* Rounded corners */
}

.correct-card {
  position: fixed;
  bottom: -100px; /* Start position (hidden) */
  left: 50%;
  transform: translateX(-50%);
  transition: bottom 0.5s ease-in-out;
}

.correct-card.show {
  bottom: 20px; /* End position (visible) */
}


input {
  padding-left: 10px;
  font-size: smaller;
}






